<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6">
        <h5 class="white-text">The WordsWorth Project</h5>
      </div>
      <div class="col l4 offset-l2">
        <h5 class="white-text">Quick links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/donate">Donate</a></li>
          <li><a class="grey-text text-lighten-3" href="/updates">Updates</a></li>
          <li><a class="grey-text text-lighten-3" href="/about">About us</a></li>
          <li><a class="grey-text text-lighten-3" href="/contact">Contact us</a></li>
          <li><a class="grey-text text-lighten-3" href="/join">Join us</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Website developed by: Satyajeet Parida and Website illustrations by: Sanjna Sudan
    </div>
  </div>
</footer>