<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/" class="brand-logo">WWP</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li><a class='dropdown-button' href='#' data-beloworigin="true" data-activates='aboutDropDown'>About us</a></li>
      <li><a href="/team">Our team</a></li>
      <li><a href="/work">Our work</a></li>
      <li><a href="/donate">Donate</a></li>
      <li><a href="/join">Join us</a></li>
      <li><a href="/contact">Contact us</a></li>
    </ul>

    <ul id='aboutDropDown' class='dropdown-content'>
      <li><a href="/about">Who are we?</a></li>
      <li><a href="/story">Our story so far</a></li>
      <li><a href="/unique">What makes us unique</a></li>
      <li><a href="/model">Our operating model</a></li>
    </ul>

    <ul id="nav-mobile" class="collapsible side-nav" data-collapsible="accordion">
      <li>
        <a class="collapsible-header" href="/">Home</a>
      </li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>