<% layout('layout') %>

<div class="row">
  <div class="section">
    <div class="container">
      <div class="page-title">About us</div>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="http://res.cloudinary.com/dhahnivds/image/upload/q_38/v1468134348/img9_qc34zu.png"></div>
  </div>
  <div class="section white">
    <div class="container">
      <p class="text-running">"The WordsWorth Project" borrows its name from the world renowned English poet William Wordsworth who has been
        credited with ushering in the English Romantic Movement in the 18th century.
      </p>
      <p class="text-running">A play on the famous poet’s name, our initiative emboldens the worth that words have in an
        individual’s life. Right from the very basic aspect of facilitating meaningful communication through language,
        words go beyond to shape a world enriched with experiences which can otherwise seem far fetched. This is the
        reason The WordsWorth Project took birth.
      </p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="http://res.cloudinary.com/dhahnivds/image/upload/q_38/v1468134347/img11_tqmxjb.png"></div>
  </div>
  <div class="section white">
    <div class="container">
      <p class="text-running">The WordsWorth Project envisions to bring together people in the community who are
        privileged to have experienced the joy of reading books simply for the pleasure of diving into a world hidden
        inside them. Our initiative channelizes their efforts to transform them into changemakers who work to assist
        those who are not fortunate to have the same experience simply due to the institutional deficiencies that plagues
        the country in the educational sector. By using our experiences of working in the social sector and our knowledge
        through our educational backgrounds, The WordsWorth Project teams works tirelessly to encourage primary grade
        students from marginalised communities studying in urban government schools to take up reading as a hobby.
        By training the youth teacher volunteers in the different methodologies of teaching and using book lists which
        are curated as per the students’ reading levels we try to bridge the gap that exists in the reading abilities of
        students which prevent them from enjoying the act of reading books.</p>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="page-title">Mentions</div>
      <div class="row">
        <div class="col l3 center-align">
          <a target="_blank" href="http://www.universityexpress.co.in/delhiuniversity/2015/07/the-wordsworth-project-for-the-love-of-reading/">
            <img class="responsive-img" src="/img/scaled/university-express-logo.png">
          </a>
        </div>
        <div class="col l3 center-align">
          <a target="_blank" href="https://campusdiaries.com/stories/these-9-young-women-are-changing-humanities-in-india-through-their-work">
            <img class="responsive-img" src="/img/scaled/campus-diaries.jpg">
          </a>
        </div>
        <div class="col l3 center-align">
          <a target="_blank" href="http://social.yourstory.com/2015/03/wordsworth-project/">
            <img class="responsive-img" src="/img/scaled/social-story-logo.png">
          </a>
        </div>
        <div class="col l3 center-align">
          <a target="_blank" href="http://www.girls20.org/">
            <img class="responsive-img" src="/img/scaled/girls-20-logo.png">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>