<% layout('layout') %>

<div class="row">
  <div class="page-title container">Donate</div>
  <div class="row container head-title">
    <div class="header grey-text text-darken-4 col l3 right-border">Donate a library</div>
    <div class="col l9">
      <div class="hover-heading">With Rs. 20,000 you can donate a library to the project or alternatively line our shelves with 100 books with Rs. 8,000.</div>
    </div>
  </div>
  <div class="row container head-title">
    <div class="valign-wrapper right-align col l9">
      <div class="hover-heading valign">Rs. 1,000 will cover the cost incurred per child to bring them the reading space.</div>
    </div>
    <div class="header grey-text text-darken-4 col l3 right-align">Sponsor a Child</div>
  </div>
  <div class="row container head-title">
    <div class="header grey-text text-darken-4 col l3 right-border">Connect</div>
    <div class="col l9">
      <div class="hover-heading">Know a children's author who would love to do a story telling session? Anyone who can give their time and expertise to the project? Know how we can reach out to potential volunteers?</div>
    </div>
  </div>
  <div class="row container head-title">
    <div class="valign-wrapper right-align col l9">
      <div class="hover-heading valign">Any amount or books from our book list from our <a href="http://www.amazon.in/gp/registry/wishlist/1S6F9GF9ONLMC/ref=cm_wl_upd_nojs_succ_ei?ie=UTF8&filter=all&page=1&reveal=unpurchased&sort=date-added">Amazon wishlist</a> that will go towards making our dream a reality</div>
    </div>
    <div class="header grey-text text-darken-4 col l3 right-align">Contribute</div>
  </div>
  <div class="row container head-title">
    <div class="hover-heading">You can donate us <a href="https://milaap.org/campaigns/TheWordsWorthProject">here</a>.</div>
  </div>
</div>