<% layout('layout') %>

<div class="container">
  <h2>Donate</h2>
  <ul>
    <li>
      <h3>Donate a library</h3>
      <p>With Rs. 20,000 you can donate a library to the project or alternatively line our shelves with 100 books with Rs. 8,000.</p>
    </li>
    <li>
      <h3>Sponsor a Child</h3>
      <p>Rs. 1,000 will cover the cost incurred per child to bring them the reading space.</p>
    </li>
    <li>
      <h3>Connect</h3>
      <p>Know a children's author who would love to do a story telling session? Anyone who can give their time and expertise to the project? Know how we can reach out to potential volunteers?</p>
    </li>
    <li>
      <h3>Contribute</h3>
      <p>Any amount or books from our book list from our <a href="http://www.amazon.in/gp/registry/wishlist/1S6F9GF9ONLMC/ref=cm_wl_upd_nojs_succ_ei?ie=UTF8&filter=all&page=1&reveal=unpurchased&sort=date-added">Amazon wishlist</a> that will go towards making our dream a reality</p>
    </li>
  </ul>

  <p>You can donate us <a href="https://milaap.org/projects/build-interactive-reading-spaces-in-low-resource-schools-and-learning-centers">here</a>.</p>
</div>