<% layout('layout') %>

<div class="parallax-container">
  <div class="parallax"><img class="responsive-img" src="img/scaled/img1.png" alt="Classroom"></div>
  <div class="row container grey lighten-3 head-banner">
    <p class="header center">Removing inequities in the primary education space through a support intervention model focusing on language.</p>
  </div>
</div>
<div id="modalLearn" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4 class="modal-title">Learn</h4>
    <p>In the recent decades, India has made commendable progress in the area of providing access to schooling and the subsequent increase in the enrolment rates across the nation is laudatory. Primary school enrolment in India has been successful largely due to various programs and drives to increase enrolment even in remote areas such as the Right to Education (RTE) and the flagship Sarva Shiksha Abhiyaan scheme of the central government. With enrolment reaching at least 96 percent since 2009, where girls make up 56 percent of new students between 2007 and 2013, it is clear that many problems of access to schooling have been addressed. Improvements to infrastructure have been a priority to achieve this under RTE and India now has 1.4 million schools and 7.7 million teachers so that 98 percent of habitations have a primary school (class I-V) within one kilometre.</p>
    <p>However, despite these positive statistics, low learning outcomes has remained a massive challenge for the state and central governments (ASER, 2014). In the absence of nationwide data on urban government schools, the Annual Status of Education Report (ASER) show the dismal numbers which are really concerning. According to ASER 2014, published by education non-profit organization Pratham Education Foundation, the proportion of all children in Class 5 who can read a Class 2 text has improved by 1 percentage point from 2013—48.1% children of Class 5 could read a class 2 text in 2014 against 47% in the previous year.</p>
    <p>With studies revealing the need to shift the focus from merely providing inputs in terms of both infrastructure and human resources toward the quality of teaching materials, importance of teacher-student relationship and methodology of teaching, efforts must now be concentrated on improving the below par learning outcomes of the country’s students.</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>
<div id="modalContribute" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4 class="modal-title">Collaborate</h4>
    <p>In our endeavour to intervene and make a successful impact in the urban
        primary education space, we collaborate with existing learning centres who are
        involved in providing remedial classes, soft skill training and development,
        extra-curricular activities etc. to primary grade students from marginalised
        communities attending government schools in urban areas.</p>
      <p>Using the space in these centres, we strive to use our unique teaching and
        assessment model to involve the students in a holistic reading curriculum which
        makes the activity of reading enjoyable for them, in the process assisting them
        to improve their reading levels. The entire structure of our assistance involves
        making the environment conducive to learning by making the reading room
        child friendly, curating the book list according to the existing reading levels of
        each student and assessing the progress of each student.</p>
      <p>Since our model depends entirely on teacher volunteers to assist the students in
        the reading spaces, we also collaborate with youth volunteer associations such
        as the National Service Scheme societies in colleges across NCR. Different
        societies like the drama societies, fine arts societies etc across colleges also
        collaborate with us to use their skills and experience to develop our own
        teaching material and help us create interest and awareness about the challenge
        we seek to address.</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>
<div id="modalSupport" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4 class="modal-title">Support</h4>
    <blockquote>One person can make a difference and every person should try.</blockquote> – John F. Kennedy.
    <p>
      We, as an organisation, believe that collective action is the way forward to make a
      positive impact in the status quo. As a non-profit organisation, we presently work
      completely with the support of generous donations and support extended by the
      community- be it individuals, civil society organisations, trusts or corporates. We make
      use of all the help and resources that comes our way to serve the students through our
      initiative.
    </p>
    <p>Any resource donated to us- be it in the form of funds, materials or simply your time and
      effort through the volunteer programme- is highly valued. We provide individual
      updates on the progress made by the organisation through the donations made by
      donors on a regular basis because we feel that it is necessary to be a part of and to create
      a sense of involvement with the overarching vision of The WordsWorth project.
    </p>
    <p>You can support us <a target="_blank" href="https://milaap.org/projects/build-interactive-reading-spaces-in-low-resource-schools-and-learning-centers">here</a>.</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>
<div class="section">
    <div class="container">
      <div class="page-title center-align">The WordsWorth Project</div>
    </div>
  </div>
<div class="section white">
  <div class="row head-title">
    <div class="header grey-text text-darken-4 col l3 right-border right-align">Learn</div>
    <div class="col l9">
      <div class="hover-heading">Learn about how learning outcomes are rampant among primary grade students in government schools across the country <i class="material-icons modal-trigger" href="#modalLearn">more_horiz</i></div>
    </div>
  </div>
</div>
<div class="section white">
  <div class="row head-title">
    <div class="valign-wrapper right-align col l9">
      <div class="hover-heading valign">Work with us to help bridge the gap in reading levels <i class="material-icons modal-trigger" href="#modalContribute">more_horiz</i></div>
    </div>
    <div class="header grey-text text-darken-4 col l3">Collaborate</div>
  </div>
</div>
<div class="section white">
  <div class="row head-title">
    <div class="header grey-text text-darken-4 col l3 right-border right-align">Support</div>
    <div class="col l9">
      <div class="hover-heading">Support us through donations, feedback and by spreading our work among your networks <i class="material-icons modal-trigger" href="#modalSupport">more_horiz</i></div>
    </div>
  </div>
</div>
