<% layout('layout') %>

<div class="container">
  <h2 class="center">Join us</h2>
  <ul>
    <li>
      <h3>Volunteer</h3>
      <ol>
        <li>Teacher Volunteers are the backbone of The WordsWorth Project. We open up applications for the volunteer positions primarily in June and December of each year for all the centres across Delhi. However, we do open up applications for specific teacher volunteer positions on a need basis in the middle of the year.</li>
        <li>We also look out for volunteers in the core team for specific projects throughout the year. These projects require specific skills in various fields such as documentation, film making, graphic designing etc.</li>
      </ol>
    </li>
    <li>
      <h3>Internship</h3>
      <p>We have a Summer Internship programme which extends for a duration of 2 months (8 weeks) every year. The internship gives an opportunity to interested individuals to spend time with a start-up social project and learn through in-depth hands on work throughout the duration of the internship. We try our best to put our interns in a field which they are interested in and where he/she can contribute optimally through their prior skills/knowledge.</p>
    </li>
    <li>
      <h3>Team member</h3>
      <p>We are always on the lookout for dedicated and passionate individuals who share our vision of spreading the joy of reading to join our growing core team in a permanent position. Drop us a mail with your CV and Statement of purpose (500 words) at <a href="mailto:thewordsworthproject@gmail.com">thewordsworthproject@gmail.com</a> and we will get back to you.</p>
    </li>
  </ul>

  <p>If you don’t want to miss any opportunity that comes up to be a part of The WordsWorth Project, like us on <a href="https://www.facebook.com/The-WordsWorth-Project-315598845315440/timeline/">facebook</a> and subscribe to our newsletter.</p>
</div>
