<% layout('layout') %>

<div class="container">
  <h2 class="center">Our operating model</h2>
  <img class="responsive-img" src="/img/scaled/model.png" alt="Wordsworth project operating model">
</div>
