<% layout('layout') %>

<div class="row">
  <div class="container">
    <div class="page-title">Our story so far</div>
    <p class="text-running">The WordsWorth Project made its first appearance in conversations over cups of coffee in the Ashoka University Campus
      in October 2014. It grew out of the co-founders’ shared love for books and the passion to bring about a change in the
      community in the education space. Over the next couple of months, we worked to bring our idea to life. We were fortunate
      to get the unending support from the Young India Fellowship for our project as we embarked on the journey to bring
      together a project from scratch.  With the constant mentoring from The Central Square Foundation who guided us during
      our ideation stage through their experiences in the education space and social entrepreneurship, The WordsWorth Project
      started its operations in January 2015.
    </p>
    <p class="text-running">
      The pilot phase of our project saw us collaborating with a learning centre run by two ex Teach for India (TFI) fellows
      called Aarohan in East Delhi and Kutumb Foundation near Khan Market. With a core team of 5 members and volunteer force
      of 20 college students, we successfully intervened in the aforementioned reading spaces with 50 students from January
      2015 to May 2015. We were happy to see impressive progress through our assessments at the centres among all the students
      which bolstered our decision to grow our project beyond the piloting phase. Consequently we unfurled our Summer
      Internship 2015 programme for June-July 2015 which was received enthusiastically by college students across Delhi.
    </p>
    <p class="text-running">Post June 2015, we have taken The WordsWorth Project one step ahead and the initiative is successfully operating in
      Delhi across 5 learning centres as of today.
    </p>
  </div>
</div>
