<% layout('layout') %>

<div class="container">
  <div class="page-title">Meet the team</div>
  <div class="section white">
    <div class="row team">
      <div class="col l4 m4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="img/team/varsha.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Varsha Varghese<i class="material-icons right">more_vert</i></span>
            <p>Founder</p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Varsha<i class="material-icons right">close</i></span>
            <p>Varsha loves reading books in obscure cafes. She often has conversations with strangers there or sometimes simply eavesdrop to weave them into her stories. Her undergraduate degree in Economics from St. Stephen's and her involvement with Make a Difference made her realize that she will never be an economist and that teaching children made her happy. Currently a Young India Fellow, this project goes towards her long term goal of removing inequities in the education space. It also gives her a chance to rediscover the magic she found within books as a child. On days when she retreats into her room with pale yellow lights and indie folk music softly playing in the background or walking barefoot on wet ground, she dreams of an ideal world. There she sees herself building many reading spaces,combining her love for travel, teaching and writing. And maybe, one day she would read out to the children stories that she wrote.</p>
          </div>
        </div>
      </div>
      <div class="col l4 m4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="img/team/priyanka.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Priyanka Roychoudhury<i class="material-icons right">more_vert</i></span>
            <p>Co-Founder</p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Priyanka<i class="material-icons right">close</i></span>
            <p>Born and brought up in a small township in Assam, Priyanka grew up in a family which made sure that books were considered the best birthday presents. As such, she fell in love with the Hardy Boys, Malory towers, TinTin and his adventures and Tinkle's stories ever since she got hold of them.One could often find her sitting in the balcony during the school vacations with a book in hand as Simon and Garfunkel played softly in the background. While studying Economics in Lady Shri Ram college for women Priyanka got the opportunity to nurture her pedagogic inclinations by volunteering in a teaching NGO under the National Service Scheme (NSS). As part of the NSS union, she interacted with underprivileged kids of all age groups. These interactions revealed to her their thirst for knowledge and to achieve something in life. Currently a Young India Fellow, Priyanka got an opportunity to meet people in the fellowship who shared her dedication to help the underprivileged and over cups of coffee and excited talks, 'The WordsWorth Project' took shape. Priyanka has a dream to one day see every kid in this country having an equal opportunity to achieve their dream and this project is her first step to make her dream come true.</p>
          </div>
        </div>
      </div>
      <div class="col l4 m4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="img/team/rahul.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Rahul Sreekumar<i class="material-icons right">more_vert</i></span>
            <p>Co-Founder</p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Rahul<i class="material-icons right">close</i></span>
            <p>A football enthusiast and a Chemical Engineer from NIT Calicut, Rahul has had no major experience working with kids or books. The journey from a voracious reader during his school days to the occasional reader that he was during his undergraduate studies, is not something which he chose willingly. However, his love for the written word stayed with him throughout his school and college years. The highly stimulating atmosphere at the Young India Fellowship and the ineffable world of literature spun by his friends there have helped revive this love for books in him. He wants to see a world where every kid at least has an opportunity to fall in love with books. This is exactly why The WordsWorth Project is so close to his heart.</p>
          </div>
        </div>
      </div>
      <div class="col l4 m4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="img/team/rhea.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Rhea Hussain<i class="material-icons right">more_vert</i></span>
            <p>Operations Manager - North Campus</p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Rhea<i class="material-icons right">close</i></span>
            <p>Rhea is a second year student of Indraprastha College for Women pursuing Political Science (Honours). "I see myself combining social work with hopefully a management degree changing things in certain specific ways for children, especially in the slums of Assam.  I enjoy travelling whether a very adventurous experience to encounter or subtle ones. Besides that, reading takes the cake along with crafts. And not to forget a fitness freak. It has come to my attention that public speaking and managerial tasks have always interested me, at times making me think that I have a knack for it (with a constant fear of not being able to do it, giving me a certain adrenaline rush)."</p>
          </div>
        </div>
      </div>
      <div class="col l4 m4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator small-image" src="img/team/deepsikha.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Deepsikha Khatoniar<i class="material-icons right">more_vert</i></span>
            <p>Operations Manager - East Delhi</p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Deepsikha<i class="material-icons right">close</i></span>
            <p>Deepsikha is a second year student of Indraprastha Colleg for Women pursuing Political Science (Honors). Born in assam, Deepshikha loves books and mountains. An introvert, she likes to spend time alone with her thoughts and long road trips that take her to new places. Sleep eludes her as she sits reading under a dim light or dreaming about a world where people only know love and peace. She believes that a small act of kindness can change lives and hopes that she can someday, somehow, leave her imprint on the sands of time.</p>
          </div>
        </div>
      </div>
      <div class="col l4 m4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="img/team/saniya.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Saniya Maini<i class="material-icons right">more_vert</i></span>
            <p>Operations manager - South Delhi</p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Saniya<i class="material-icons right">close</i></span>
            <p>Saniya is second year student of Lady Shri Ram college for women pursuing B.Com (Hons). If there’s one thing Saniya has always believed in, then it’s anything that’s worth doing is worth doing well. An avid reader since the age of five, she’s always tried to find books which interest and inspire her, be it Dr Seuss’ stories or Malcom Gladwell’s fascinating theories. But her love for books is secondary only to her desire to impact the lives of those around her. Currently pursuing commerce at Lady Sri Ram College for Women, she intends on spreading the same zest and love for reading amongst children.</p>
          </div>
        </div>
      </div>
      <div class="col l4 m4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="img/team/cearet.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Cearet Sood<i class="material-icons right">more_vert</i></span>
            <p>Marketing Manager</p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Cearet<i class="material-icons right">close</i></span>
            <p>Cearet Sood is an undergraduate student of Economics at Lady Shri Ram College for Women. Her first love is reading, she is a very enthusiastic book-collector. If she had to make a list of things she couldn't live without, books would never find a mention there. Apart from being a bibliophile, she actively volunteers at two NGOs, where she interacts with kids from not-so-privileged backgrounds. She chose to be a part of The WordsWorth Project because she wants to spread her passion of reading across all age groups and backgrounds. She will be working in the capacity of a marketing and publicity person. She is very excited to be a part of it.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>