<% layout('layout') %>

<div class="container">
  <h2 class="center">Meet the team</h2>
  <div class="section white">
    <p>The Wordsworth project was co-founded by Varsha Varghese, Priyanka Roychoudhury and Rahul Sreekumar in October 2014.</p>
    <p>
      As of today, The WordsWorth Project team consists of Varsha Varghese and Priyanka Roychoudhury heading the project with the following core team members:
    </p>
    <ul>
      <li>Aditi Tiwari - Operations manager</li>
      <li>Deepshikha Khatoniar - Operations manager</li>
      <li>Rhea Hussain - Operations manager</li>
      <li>Sania Maini - Operations manager</li>
      <li>Priyanka Dhar - Operations manager</li>
    </ul>
  </div>
</div>