<% layout('layout') %>

<div class="container">
  <div class="page-title">Meet the team</div>
  <div class="section">
    <div class="row head-title">
      <div class="header title grey-text text-darken-4 center-align">Founders</div>
    </div>
  </div>
  <div class="section white">
    <div class="row team">
      <div class="col l4 m3">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="http://res.cloudinary.com/dhahnivds/image/upload/q_38/v1468165492/varsha_cj7rzi.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Varsha Varghese<i class="material-icons modal-trigger right" href="#varsha">more_horiz</i></span>
            <p>Co-Founder</p>
          </div>
          <div id="varsha" class="modal modal-fixed-footer">
            <div class="modal-content">
              <h4 class="modal-title">Varsha</h4>
              <p>Varsha loves reading books in obscure cafes. She often has conversations with strangers there or sometimes simply eavesdrop to weave them into her stories. Her undergraduate degree in Economics from St. Stephen's and her involvement with Make a Difference made her realize that she will never be an economist and that teaching children made her happy. Currently a Young India Fellow, this project goes towards her long term goal of removing inequities in the education space. It also gives her a chance to rediscover the magic she found within books as a child. On days when she retreats into her room with pale yellow lights and indie folk music softly playing in the background or walking barefoot on wet ground, she dreams of an ideal world. There she sees herself building many reading spaces,combining her love for travel, teaching and writing. And maybe, one day she would read out to the children stories that she wrote.</p>
            </div>
            <div class="modal-footer">
              <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col l4 m3">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="http://res.cloudinary.com/dhahnivds/image/upload/q_38/v1468165530/priyanka_dabjni.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Priyanka Roychoudhury<i class="material-icons modal-trigger right" href="#priyanka">more_horiz</i></span>
            <p>Co-Founder</p>
          </div>
          <div id="priyanka" class="modal modal-fixed-footer">
            <div class="modal-content">
              <h4 class="modal-title">Priyanka</h4>
              <p>Born and brought up in a small township in Assam, Priyanka grew up in a family which made sure that books were considered the best birthday presents. As such, she fell in love with the Hardy Boys, Malory towers, TinTin and his adventures and Tinkle's stories ever since she got hold of them. One could often find her sitting in the balcony during the school vacations with a book in hand as Simon and Garfunkel played softly in the background. While studying Economics in Lady Shri Ram college for women Priyanka got the opportunity to nurture her pedagogic inclinations by volunteering in a teaching NGO under the National Service Scheme (NSS). As part of the NSS union, she interacted with underprivileged kids of all age groups. These interactions revealed to her their thirst for knowledge and to achieve something in life. Currently a Young India Fellow, Priyanka got an opportunity to meet people in the fellowship who shared her dedication to help the underprivileged and over cups of coffee and excited talks, 'The WordsWorth Project' took shape. Priyanka has a dream to one day see every kid in this country having an equal opportunity to achieve their dream and this project is her first step to make her dream come true.</p>
            </div>
            <div class="modal-footer">
              <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col l4 m3">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="http://res.cloudinary.com/dhahnivds/image/upload/q_38/v1468165556/rahul_wjzfa0.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Rahul Sreekumar<i class="material-icons modal-trigger right" href="#rahul">more_horiz</i></span>
            <p>Co-Founder</p>
          </div>
          <div id="rahul" class="modal modal-fixed-footer">
            <div class="modal-content">
              <h4 class="modal-title">Rahul</h4>
              <p>A football enthusiast and a Chemical Engineer from NIT Calicut, Rahul has had no major experience working with kids or books. The journey from a voracious reader during his school days to the occasional reader that he was during his undergraduate studies, is not something which he chose willingly. However, his love for the written word stayed with him throughout his school and college years. The highly stimulating atmosphere at the Young India Fellowship and the ineffable world of literature spun by his friends there have helped revive this love for books in him. He wants to see a world where every kid at least has an opportunity to fall in love with books. This is exactly why The WordsWorth Project is so close to his heart.</p>
            </div>
            <div class="modal-footer">
              <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row team">
      <div class="section">
        <div class="row head-title">
          <div class="header title grey-text text-darken-4 center-align">Core Team</div>
        </div>
      </div>
      <div class="col l4 m3">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="http://res.cloudinary.com/dhahnivds/image/upload/q_38/v1468165486/sanjna_vij8b0.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Sanjna Sudan<i class="material-icons modal-trigger right" href="#sanjna">more_horiz</i></span>
            <p>Lead - Illustrations</p>
          </div>
          <div id="sanjna" class="modal modal-fixed-footer">
            <div class="modal-content">
              <h4 class="modal-title">Sanjna</h4>
              <p>As an only child, Sanjna’s earliest memories are that of pondering over storybooks and then illustrating
                what appealed to her. From the Amar Chitra Kathas’ to adventurous tales of Enid Blyton, she was always
                fascinated to put a face to a character. Daughter of an army officer and a teacher, Sanjna grew up on a
                staple diet of mythological and historical stories, believing that one day she would bring these imaginary
                characters to life.<br> Realising her visually wired brain, her mother would often use storytelling and
                illustrations to explain theoretical concepts to her. This was the only way Sanjna would learn new things.
                Her school teachers often describe her as a child with a piercing intellect, but an annoyingly over-active
                imagination.<br> After studying in over nine schools across the country, she followed her passion for media
                and journalism at the University of Delhi.  Sanjna, an avid reader has a diverse taste in books from
                Dr. RadhaKrishna’s Gita to titles by authors such as Alexandre Dumas and Jane Austen; to even comics like
                Tintin, Phantom and Asterix. She wore her creative hat as the Design Head of Journalism Department in
                Kamala Nehru College consecutively for three years. During this period, she realised that her skill for
                illustrations can be used as a useful medium for creating an impact.<br> Combining her two loves -
                reading and creating illustrations, she hopes to craft engaging illustrations for The WordsWorth Project.
                A YIF alumnus, she currently works as a Deputy Manager, Communications and Media Relations at Ashoka
                University. She believes that images can ignite the imagination of kids and develop a lifelong love for
                reading in them.</p>
            </div>
            <div class="modal-footer">
              <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col l4 m3">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="http://res.cloudinary.com/dhahnivds/image/upload/q_40/v1473318196/Anjini_hat13e.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Anjini Chandra<i class="material-icons modal-trigger right" href="#anjini">more_horiz</i></span>
            <p>Operation Support Manager</p>
          </div>
          <div id="anjini" class="modal modal-fixed-footer">
            <div class="modal-content">
              <h4 class="modal-title">Anjini</h4>
              <p>The world of books is an endlessly fascinating one, the only place in today's world which never disappoints. As a child, Anjini devoured every book available, eagerly immersing herself in the stories of Dr. Seuss, Enid Blyton and Roald Dahl. The solace she finds when curled up with a book on a rainy day, or after escaping the chaos of a crowded Delhi metro, is unparalleled. Reading and understanding the complexities of a language are the magic keys that open the doors to this world; an opportunity no child should be denied. She started working with The WordsWorth Project a year ago, while in her final year as an undergraduate studying Zoology, from Ramjas College, and is incredibly happy teaching children, learning with them, and hopefully making a difference."</p>
            </div>
            <div class="modal-footer">
              <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col l4 m3">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light black center">
            <img style="width: 50%;" class="activator" src="http://res.cloudinary.com/dhahnivds/image/upload/q_40/v1473831292/Anisha_Jain_yvnkuu.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Anisha Jain<i class="material-icons modal-trigger right" href="#anisha">more_horiz</i></span>
            <p>Programme Support Manager</p>
          </div>
          <div id="anisha" class="modal modal-fixed-footer">
            <div class="modal-content">
              <h4 class="modal-title">Anisha</h4>
              <p>Currently pursuing Business Economics from Univeristy of Delhi, her life involves around Finance, Economics, Enactus, books and english TV series and. She is quite an introvert person but when it comes to working on something that she loves, you will meet a completely different person! Songs of Mohammad Rafi and the Rajasthan forts are the only two things that can lighten up her mood.</p>
              <p>It was first at the age of seven that Anisha was touched watching beggars on a street; she decided to work in the field of social development when she grows up. She fortunately got to pusrue economics at her undergraduation level and it is through this subject that she now wants to live her childhood dream- her future plan is to go for Public Policy.</p>
            </div>
            <div class="modal-footer">
              <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row team">
      <div class="section">
        <div class="row head-title">
          <div class="header title grey-text text-darken-4 center-align">Operations Managers</div>
        </div>
      </div>
      <div class="col l4 m3">
        <div class="card orange lighten-1">
          <div class="card-image waves-effect waves-block waves-light black center">
            <img style="width: 50%" src="http://res.cloudinary.com/dhahnivds/image/upload/v1473315192/Nandini_Malik_nd6xuu.jpg">
          </div>
          <div class="card-content white-text">
            <span class="card-title">Nandini Mallick</span>
            <p>Shiksha Rath</p>
          </div>
        </div>
      </div>
      <div class="col l4 m4">
        <div class="card orange lighten-1">
          <div class="card-image waves-effect waves-block waves-light">
            <img src="http://res.cloudinary.com/dhahnivds/image/upload/q_40/v1473315360/Aditi_Tiwari_xnyidj.jpg">
          </div>
          <div class="card-content white-text">
            <span class="card-title">Aditi Tiwari</span>
            <p>Magic Room</p>
          </div>
        </div>
      </div>
      <div class="col l4 m4">
        <div class="card orange lighten-1">
          <div class="card-image waves-effect waves-block waves-light">
            <img src="http://res.cloudinary.com/dhahnivds/image/upload/q_40/v1473315428/Jahnavi_wzhr54.jpg">
          </div>
          <div class="card-content white-text">
            <span class="card-title">Jahnavi Gupta</span>
            <p>Manzil</p>
          </div>
        </div>
      </div>
      <div class="col l4 m4">
        <div class="card orange lighten-1">
          <div class="card-image waves-effect waves-block waves-light">
            <img src="http://res.cloudinary.com/dhahnivds/image/upload/q_40/v1473315427/Natasha_R_n1qdl9.jpg">
          </div>
          <div class="card-content white-text">
            <span class="card-title">Natasha R</span>
            <p>South Ex</p>
          </div>
        </div>
      </div>
      <div class="col l4 m4">
        <div class="card orange lighten-1">
          <div class="card-image waves-effect waves-block waves-light">
            <img src="http://res.cloudinary.com/dhahnivds/image/upload/q_40/v1473315429/Anubhuti_Bhattacharya_iwddd5.jpg">
          </div>
          <div class="card-content white-text">
            <span class="card-title">Anubhuti Bhattacharya</span>
            <p>Aarohan</p>
          </div>
        </div>
      </div>
      <div class="col l4 m4">
        <div class="card orange lighten-1">
          <div class="card-image waves-effect waves-block waves-light">
            <img src="http://res.cloudinary.com/dhahnivds/image/upload/q_40/v1473315235/Shivranjani_Gandhi_ctqc3o.jpg">
          </div>
          <div class="card-content white-text">
            <span class="card-title">Shivranjani Gandhi</span>
            <p>Om Foundation School</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>