<% layout('layout') %>

<div class="container">
  <div class="page-title">Meet the team</div>
  <div class="section">
    <div class="row head-title">
      <div class="header title grey-text text-darken-4 center-align">Founders</div>
    </div>
  </div>
  <div class="section white">
    <div class="row team">
      <div class="col l4 m4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="img/team/varsha.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Varsha Varghese<i class="material-icons modal-trigger right" href="#varsha">more_horiz</i></span>
            <p>Founder</p>
          </div>
          <div id="varsha" class="modal modal-fixed-footer">
            <div class="modal-content">
              <h4 class="modal-title">Varsha</h4>
              <p>Varsha loves reading books in obscure cafes. She often has conversations with strangers there or sometimes simply eavesdrop to weave them into her stories. Her undergraduate degree in Economics from St. Stephen's and her involvement with Make a Difference made her realize that she will never be an economist and that teaching children made her happy. Currently a Young India Fellow, this project goes towards her long term goal of removing inequities in the education space. It also gives her a chance to rediscover the magic she found within books as a child. On days when she retreats into her room with pale yellow lights and indie folk music softly playing in the background or walking barefoot on wet ground, she dreams of an ideal world. There she sees herself building many reading spaces,combining her love for travel, teaching and writing. And maybe, one day she would read out to the children stories that she wrote.</p>
            </div>
            <div class="modal-footer">
              <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col l4 m4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="img/team/priyanka.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Priyanka Roychoudhury<i class="material-icons modal-trigger right" href="#priyanka">more_horiz</i></span>
            <p>Co-Founder</p>
          </div>
          <div id="priyanka" class="modal modal-fixed-footer">
            <div class="modal-content">
              <h4 class="modal-title">Priyanka</h4>
              <p>Born and brought up in a small township in Assam, Priyanka grew up in a family which made sure that books were considered the best birthday presents. As such, she fell in love with the Hardy Boys, Malory towers, TinTin and his adventures and Tinkle's stories ever since she got hold of them. One could often find her sitting in the balcony during the school vacations with a book in hand as Simon and Garfunkel played softly in the background. While studying Economics in Lady Shri Ram college for women Priyanka got the opportunity to nurture her pedagogic inclinations by volunteering in a teaching NGO under the National Service Scheme (NSS). As part of the NSS union, she interacted with underprivileged kids of all age groups. These interactions revealed to her their thirst for knowledge and to achieve something in life. Currently a Young India Fellow, Priyanka got an opportunity to meet people in the fellowship who shared her dedication to help the underprivileged and over cups of coffee and excited talks, 'The WordsWorth Project' took shape. Priyanka has a dream to one day see every kid in this country having an equal opportunity to achieve their dream and this project is her first step to make her dream come true.</p>
            </div>
            <div class="modal-footer">
              <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col l4 m4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="img/team/rahul.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Rahul Sreekumar<i class="material-icons modal-trigger right" href="#rahul">more_horiz</i></span>
            <p>Co-Founder</p>
          </div>
          <div id="rahul" class="modal modal-fixed-footer">
            <div class="modal-content">
              <h4 class="modal-title">Rahul</h4>
              <p>A football enthusiast and a Chemical Engineer from NIT Calicut, Rahul has had no major experience working with kids or books. The journey from a voracious reader during his school days to the occasional reader that he was during his undergraduate studies, is not something which he chose willingly. However, his love for the written word stayed with him throughout his school and college years. The highly stimulating atmosphere at the Young India Fellowship and the ineffable world of literature spun by his friends there have helped revive this love for books in him. He wants to see a world where every kid at least has an opportunity to fall in love with books. This is exactly why The WordsWorth Project is so close to his heart.</p>
            </div>
            <div class="modal-footer">
              <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row team">
      <div class="section">
        <div class="row head-title">
          <div class="header title grey-text text-darken-4 center-align">Core team</div>
        </div>
      </div>
      <div class="col l4 m4">
        <div class="card orange lighten-1">
          <div class="card-content white-text">
            <span class="card-title">Aditi Tiwari</span>
            <p>Operations manager</p>
          </div>
        </div>
      </div>
      <div class="col l4 m4">
        <div class="card orange lighten-1">
          <div class="card-content white-text">
            <span class="card-title">Deepsikha Khatoniar</span>
            <p>Operations manager</p>
          </div>
        </div>
      </div>
      <div class="col l4 m4">
        <div class="card orange lighten-1">
          <div class="card-content white-text">
            <span class="card-title">Priya Sachdeva</span>
            <p>Operations manager</p>
          </div>
        </div>
      </div>
      <div class="col l4 m4">
        <div class="card orange lighten-1">
          <div class="card-content white-text">
            <span class="card-title">Saniya Maini</span>
            <p>Operations manager</p>
          </div>
        </div>
      </div>
      <div class="col l4 m4">
        <div class="card orange lighten-1">
          <div class="card-content white-text">
            <span class="card-title">Priyanka Dhar</span>
            <p>Operations manager</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>