<% layout('layout') %>

<h2 class="center">What makes us unique?</h2>

<div class="row">
  <div class="container">
    <div>
      <h3>Curated booklist</h3>
      <p>Our research through numerous reports and studies conducted by research organisations in the education space have
        revealed the importance of the teaching material used for imparting education to students. In our endeavour to make
        reading exciting for young students, we put in efforts to have the library in each reading space stocked with books
        which are not only appropriate as per the age of the students but also commensurate with their existing learning levels.
        Majority of our books are sourced from indigenous publishers which contains reading material consistent with the cultural
        environment that the students grow up in, making it easier for them to relate to what they are reading.
      </p>
    </div>
    <div class="right-align">
      <h3>Continuous Assessment of individual progress</h3>
      <p>
        Keeping our objective of developing language skills focussing on reading among our students, we document and record
        the progress of each student by continuously evaluating them on a given set of parameters. The volunteers keep track
        of individual student progress; the books which are segregated according to their difficulty level help in tracking
        the progress by a student on a very broad level. The record also helps us to gather data on whether our model is
        successful and whether it is viable to implement on a large scale.
      </p>
    </div>
    <div>
      <h3>Training</h3>
      <p>
        Volunteers go through an initial training that sensitizes them to various aspects of teaching in a WordsWorth space.
        This includes being aware of different learning styles, reading strategies and expectations from a WordsWorth Volunteer.
        We are in the process of building a repository of content and ideas that could assist our volunteers in planning their
        sessions and for higher effectiveness in the space. Routine feedback allows us to understand challenges faced by the
        volunteers and we design mini-sessions to tackle these or collectively design solutions.
      </p>
    </div>
    <div class="right-align">
      <h3>Content innovation</h3>
      <p>
        Our WordsWorth Journey has made us realize existing gaps in content. We saw that there was little material out there
        for older students in high school learning language for the first time. This kick started our language content creation
        with certain volunteers creating more age appropriate material and fine art societies collaborating to illustrate them.
      </p>
      <p>
        In the spirit of content with definite language teaching objectives, we began the side project of creating mini stories
        with specific language goals with a group of illustrators.
      </p>
    </div>
  </div>
</div>
