<% layout('layout') %>

<div class="row">
  <div class="page-title container">Updates</div>
  <div class="container">
    <div class="row wwp-update">
      <div class="col l4 m4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator modal-trigger" src="http://res.cloudinary.com/dhahnivds/image/upload/q_38/v1468134366/roald_o2zjfu.jpg" href="#roald-dahl">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">5 times Roald Dahl made us fall in love with reading<i class="material-icons modal-trigger right" href="#roald-dahl">more_horiz</i></span>
            <p>Nov 22, 2015</p>
          </div>
          <div id="roald-dahl" class="modal modal-fixed-footer">
            <div class="modal-content">
              <h4 class="modal-title">5 times Roald Dahl made us fall in love with reading</h4>
              <p>
                <blockquote>If my books can help children become readers, then I feel I have accomplished something important.</blockquote>
                – Roald Dahl.
              </p>
              <p>
                He came, he wrote, he left us spellbound, and he left. His books, however, remain just as they were- succulently satisfying works, unparalleled in the field of children’s literature.
              </p>
              <p>
                The magic of Roald Dahl has lasted. Matilda still inspires every young child who picks up the book, Mr. Fox is as fantastic as ever, and The Witches can yet terrify and enchant any child. Mr. Twit’s beard is as revolting, Danny is still the champion, just as Quentin Blake’s illustrations are absolutely spot-on.
              </p>
              <p>
                It’s evident that Roald Dahl was all about stories. He was nothing spectacular at English in school, but the love for literature was infused in him by a certain lady. During his time at boarding school, this lady- a Mrs. O’Connor- was hired to baby-sit the boys as the masters made their way to the pub every Saturday morning. Each week, she would pick a writer and talk about his life and works. The boys absolutely adored her. As she covered excerpts from the greatest texts in English literature, Roald became irrevocably immersed. And, he began to read.
              </p>
              <p>
                His works never stopped promoting books and the joys of reading. Let’s take a look at five quotes from his children’s tales which delve into language, books and reading.
              </p>
              <ol>
                <li>
                  <blockquote><b>"So, please, oh please, we beg, we pray, go throw your TV set away, and in its place you can install, a lovely bookcase on the wall."</b></blockquote>
                  This is from one of the many songs sung by the Oompa Loompas in Charlie and the Chocolate Factory, and this particular piece was directed at the (aptly named) character of Mike Teevee. It mocks the obsession with television which has caused children to neglect reading.
                </li>
                <li>
                  <blockquote><b>"I'm wondering what to read next." Matilda said. "I've finished all the children's books."</b></blockquote>
                  The first sense of completion as Matilda wonders what to read next. At four years old, she takes on Great Expectations. We all can’t be prodigies, but don’t we all feel slightly lost when we realize that we’ve graduated from one section of the library?
                </li>
                <li>
                  <blockquote><b>"Don't gobblefunk around with words."</b></blockquote>
                  In The BFG, the titular giant is a lovable character with an idiosyncratic style of speaking- he goes by a Jumbly vocabulary of his own (called Gobblefunk by RD), and tangles up his sentences. Either way, he is a Gloriumptious fellow, and BFG’s language goes a long way to attract children to the joys of English as well as to portray his relationship with other characters in the book.
                </li>
                <li>
                  <blockquote><b>"The books transported her into new worlds and introduced her to amazing people who lived exciting lives. She went on olden-day sailing ships with Joseph Conrad. She went to Africa with Ernest Hemingway and to India with Rudyard Kipling. She travelled all over the world while sitting in her little room in an English village."</b></blockquote>
                  If you read, you can travel the world by sitting in one place, and that is precisely what Matilda does. Roald Dahl evokes the sublimity of literature and shows how reading not only widens perspective, but also opens windows to skies which seemed impossible to fly before.
                </li>
                <li>
                  <blockquote><b>"If you are going to get anywhere in life you have to read a lot of books."</b></blockquote>
                  Clearly, Dahl is seeking to pass on the message- reading takes you places. We all are indebted to the books that have shaped us since we were young human beans (as the BFG would put it) and it’s the least we can do to pass on the gift.
                </li>
              </ol>
              <p>
                That’s what the WordsWorth Project is for, right?
              </p>
              <p>- By Zoya Chadha</p>
            </div>
            <div class="modal-footer">
              <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col l4 m4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator modal-trigger" href="#varsha-talk" src="http://res.cloudinary.com/dhahnivds/image/upload/v1468165492/varsha_cj7rzi.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Hear our Co-Founder, Varsha Varghese speak at Engitalks 2015<i class="material-icons modal-trigger right" href="#varsha-talk">more_horiz</i></span>
            <p>Dec 5, 2015</p>
          </div>
          <div id="varsha-talk" class="modal modal-fixed-footer">
            <div class="modal-content">
              <h4 class="modal-title">Hear our Co-Founder, Varsha Varghese speak at Engitalks 2015</h4>
              <div>
                <iframe width="740" height="330" src="http://www.youtube.com/embed/yihit0b8rJU"></iframe>
              </div>
            </div>
            <div class="modal-footer">
              <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col l4 m4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator modal-trigger" href="#reading-impact" src="http://res.cloudinary.com/dhahnivds/image/upload/q_38/v1458528175/IMG_1516_im7bhc.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Impact of reading on language development<i class="material-icons modal-trigger right" href="#reading-impact">more_horiz</i></span>
            <p>Mar 21, 2016</p>
          </div>
          <div id="reading-impact" class="modal modal-fixed-footer">
            <div class="modal-content">
              <h4 class="modal-title">Impact of reading on language development</h4>
              <div>
                <p>Study has found that book reading consistently has the power to nourish language development. Evidence suggests that children benefit most from regular reading routines which are rich in interactions and this begins as early as when they are 8 months old. In fact it has been found that just providing books to families can increase the frequency of reading and library. However this also depends on the level of education of the parents and how much they can encourage reading in their children. Programs implemented in different countries that trains and teaches parents effective strategies for using books to read to children have been found to be effective methods of fostering language acquisition and improving the child’s reading skills. Thus not only the habit of reading, but also with the correct method is what develops language in a child.Learning new words by reading stories has also been found to positively impact a preschooler’s language ability. Reading storybooks sometimes also supersedes the power of oral conversation to promote language development.</p>
                <p>
                  Study has found 3 basic ways in which reading influences language learning:
                  <ol>
                    <li>First, it provides children with the opportunity to hear new vocabulary items by reading books. Books for children often have short and simple sentences that are rich in synonymic words.</li>
                    <li>The second method in which it promotes language development is through joint attention and interest. Children’s books use bold colours and big pictures that are graphical, enhancing the imaginative power of the child. The page of the book thus provides a clear focus for attention unlike movable toys, allowing the child to be still and stationary.</li>
                    <li>Thirdly, book reading requires the child to be active and engage in responsive discussions about words and their meanings, thereby fostering language development. It provides an opportunity for the adult to interact and discuss with the child, the story and thereby the meaning and usage of different words (Dickinson, Griffith, Golinkoff, &amp; Hirsh-Pasek, 2011)</li>
                  </ol>
                </p>
                <p>- Seerat Kaur</p>
              </div>
            </div>
            <div class="modal-footer">
              <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col l4 m4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator modal-trigger" href="#may-day" src="http://res.cloudinary.com/dhahnivds/image/upload/v1464104721/book_exchange_1_qcdckw.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">May Day Book exchange event<i class="material-icons modal-trigger right" href="#may-day">more_horiz</i></span>
            <p>May 23, 2016</p>
          </div>
          <div id="may-day" class="modal modal-fixed-footer">
            <div class="modal-content">
              <h4 class="modal-title">May Day Book exchange event</h4>
              <div>
                <p>
                  The WordsWorth Project organised a book exchange event on 1st May, 2016 at Kunzum Travel Cafe. It saw book lovers from across the city come together to share their love for reading with other fellow bibliophiles. It was exciting to see everyone talk about their favourite books and characters with others who they have never met before. We loved sharing about our project with all those present and definitely were overwhelmed by the support showered on us by everyone in any form, be it the book donations or funds or simply by being a part of the event. It was an attempt to take our project's core value of sharing the love for reading beyond our operational ambit and the success of our event only goes on to reinforce our belief that reading gives a joy that everyone should have an opportunity to embrace.</p>
                <p>
                  Thank you everyone for turning up to the event in such huge numbers and we look forward to your continued support. All the proceeds from the event will help us tremendously in supporting our operations and to reach out to more kids across the city.
                </p>
              </div>
            </div>
            <div class="modal-footer">
              <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col l4 m4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator modal-trigger" href="#orientation" src="http://res.cloudinary.com/dhahnivds/image/upload/q_38/v1473315198/orientation_xv1ci8.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">WordsWorth Orientation Programme<i class="material-icons modal-trigger right" href="#orientation">more_horiz</i></span>
            <p>July 30, 2016</p>
          </div>
          <div id="orientation" class="modal modal-fixed-footer">
            <div class="modal-content">
              <h4 class="modal-title">WordsWorth Orientation Programme</h4>
              <div>
                <p>
                  The WordsWorth Project organised its orientation programme for new volunteers in July 2016 at CoWorking in Lajpat Nagar. We welcomed the new teacher volunteers on board by organising ice breakers to get them to intermingle within the group and know each other. Following this,  team activities were put together to help the volunteers brainstorm ideas about mitigating challenges and how to approach different classroom situations. Operation managers briefed their respective volunteers about the specificity about their respective centres. Post this, the volunteers were trained in various teaching methods to be used in the classes. The day ended with all the WordsWorth family getting together for pictures and getting their feedback on their experience at the orientation programme.
                </p>
              </div>
            </div>
            <div class="modal-footer">
              <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col l4 m4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator modal-trigger" href="#end-sem" src="http://res.cloudinary.com/dhahnivds/image/upload/q_38/v1482223552/IMG_7782_dqfas7.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">End Semester Meeting<i class="material-icons modal-trigger right" href="#end-sem">more_horiz</i></span>
            <p>November 12, 2016</p>
          </div>
          <div id="end-sem" class="modal modal-fixed-footer">
            <div class="modal-content">
              <h4 class="modal-title">End Semester Meeting</h4>
              <div>
                <p>
                  On 12th November, The WordsWorth Project held its end semester meeting at the Lodi Gardens, where all the teacher volunteers and Operation Managers sat down to discuss what this session has been like. The meeting started off with a round of feedback from the Teacher Volunteers. Their valuable feedback gave insights on how we can make our functioning smoother and more effective. One way was to improve the level of our resources by getting more books for various ages and even developing audio books. It was indeed encouraging to see a majority of the volunteers agreeing to continue with us for the next session as well. The experiences of the Teacher Volunteers and the Operation Managers were helpful in formulating strategies for the next session.
                </p>
              </div>
            </div>
            <div class="modal-footer">
              <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>