<% layout('layout') %>

<div class="work">
  <div class="page-title container">Our work</div>
  <div class="section">
    <div class="row head-title">
      <div class="header title grey-text text-darken-4 center-align">We currently function in 5 learning centres in New Delhi</div>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax">
      <img src="/img/scaled/img2.png">
    </div>
  </div>
  <div class="section no-pad-bot">
    <div class="row head-title">
      <div class="header grey-text text-darken-4 col l3 right-align">Shiksha Rath</div>
      <div class="col l9">
        <div class="hover-heading">A flagship programme of the Touch India Trust, works with children from the slums near North Campus in Delhi. Shiksha Rath provides a creative space for after school classes, meals and health care through their Shiksha Rath Academy for younger children and Shiksha Rath Tutorials for the older children. The WordsWorth Project works twice a week in their space helping over 70 children ranging from 4 years to 15 years from the Tutorial and Academy to read.</div>
      </div>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax">
      <img src="/img/scaled/img3.png">
    </div>
  </div>
  <div class="section no-pad-bot">
    <div class="row head-title">
      <div class="valign-wrapper right-align col l9">
        <div class="hover-heading valign">The Magic Room is a community center started by a bunch of Teach for India Fellows in Adarsh Nagar. The WordsWorth intervenes in the space for creating reading support for 30 children. Currently it caters to children from TFI classroom, the WordsWorth aims to reach out to more children from the community.</div>
      </div>
      <div class="header grey-text text-darken-4 col l3">The Magic Room</div>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax">
      <img src="/img/scaled/img4.png">
    </div>
  </div>
  <div class="section no-pad-bot">
    <div class="row head-title">
      <div class="header grey-text text-darken-4 col l3 right-align">Manzil</div>
      <div class="col l9">
        <div class="hover-heading">Located in Khan Market, Manzil is a familiar non-profit organization in the Delhi space with its origins dating back to 1996. Every Friday, a bunch of WordsWorth volunteers interact with 15 children from Manzil. With children here much closer to grade levels, the focus of WordsWorth here is to make them engage more with written material and expand their vocabulary base.</div>
      </div>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax">
      <img src="/img/scaled/img5.png">
    </div>
  </div>
  <div class="section no-pad-bot">
    <div class="row head-title">
      <div class="valign-wrapper right-align col l9">
        <div class="hover-heading valign">An independent learning space in South Ex, with the help of a social worker brought together children from nearby economically weaker communities for remedial after school classes. The WordsWorth assists her efforts in language teaching through a set of indigenous books and volunteer support.</div>
      </div>
      <div class="header grey-text text-darken-4 col l3">South Ex</div>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax">
      <img src="/img/scaled/img6.png">
    </div>
  </div>
  <div class="section no-pad-bot">
    <div class="row head-title">
      <div class="header grey-text text-darken-4 col l3 right-align">Aarohan, East Delhi</div>
      <div class="col l9">
        <div class="hover-heading">Aarohan, a learning center + livelihood space was the first location WordsWorth began its operations in. Aarohan came out of Teach for India community project and has been around for more than two years. The children have flexibility in deciding what they wish to learn. WordsWorth owes the location for allowing early experimentation of processes. It continues to work with 40 kids at Aarohan.</div>
      </div>
    </div>
  </div>
</div>
