.text-medium {
  font-size: 2rem;
}

.text-regular {
  font-size: 16px;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: 600px;
  color: rgba(255,255,255,.9);
  .section {
    width: 100%;
  }
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.vision-text {
  line-height: 2;
}

.parallax img {
  width: 100%;
}

.head-title, .head-vision {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  opacity: 0.8;
}

.head-title {
  margin-top: 150px;
}

.head-vision {
  width: 70%;
}

.hover-heading {
  cursor: pointer;
  text-decoration: underline;
}

.hover-text {
  display: none;
  background-color: #FAFAFA;
  padding: 20px;
}

.dropdown-content#aboutDropDown {
  width: 200px !important;
}
